.score {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  margin: 5px auto;
  user-select: none;
}
.score div {
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  background-color: #00a416;
}
.score div:first-child {
  background-color: #0011ff;
}
