* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    60deg,
    rgba(242, 255, 0, 0.792),
    rgba(255, 0, 0, 0.7)
  );
}
